{varType App\Model\Entities\Product $product}
{block content}


{block script}
 <link rel="stylesheet"  href="{$basePath}/styly/produkt.css">
{/block script}

            <div class="container">
            		<div class="card">
            			<div class="container-fliud">
            				<div class="wrapper row">
            					<div class="preview col-md-6">
            						<div class="preview-pic tab-content">
            						  <div class="tab-pane active" id="pic-1"><img src="{$basePath}/img/products/{$product->productId}.{$product->photoExtension}"></div>
            						</div>
            					</div>
            					<div class="details col-md-6">
            						<h3 class="product-title">{$product->title}</h3>
            						<p class="product-description">{$product->description}</p>
            						<h4 class="price">Cena: <span>{$product->price} Kč</span></h4>
                                    {control "productCartForm-$product->productId"}
            					</div>
            				</div>
            			</div>
            		</div>
            	</div>
{if $logged}
<form n:name=commentForm class=form>

        <div class="d-flex flex-column col-md-8">

            <div class="d-flex flex-row add-comment-section mt-4 mb-4">
	            <p><label n:name=content><input n:name=content size=100></label>
	            <p><input n:name=send class="btn btn-primary">
	        </div>
	    </div>
</form>
{else}
        <div class="d-flex flex-column col-md-8">

            <div class="d-flex flex-row add-comment-section mt-4 mb-4">
	            <h3>Komentář mohou přidávat pouze přihlášení uživatelé</h3>
	        </div>
	    </div>
{/if}



            {foreach $product->comments as $comment}
            <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
            <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <div class="media g-mb-30 media-comment">
                        <div class="media-body u-shadow-v18 g-bg-secondary g-pa-30">
                          <div class="g-mb-15">
                            <h5 class="h5 g-color-gray-dark-v1 mb-0">{$comment->name}</h5>
                            <span class="g-color-gray-dark-v4 g-font-size-12">{$comment->created|date:'%d.%m.%Y '}</span>
                          </div>

                          <p>{$comment->content}</p>

                         <!-- <ul class="list-inline d-sm-flex my-0">
                            <li class="list-inline-item g-mr-20">
                              <a  href="{plink like! id=>$comment->commentsId}" class="u-link-v5 g-color-gray-dark-v4 g-color-primary--hover>
                                <i class="fa fa-thumbs-up g-pos-rel g-top-1 g-mr-3"></i>
                                {$comment->likes}
                              </a>
                            </li>
                            <li class="list-inline-item g-mr-20">
                              <a class="u-link-v5 g-color-gray-dark-v4 g-color-primary--hover" href="#!">
                                <i class="fa fa-thumbs-down g-pos-rel g-top-1 g-mr-3"></i>
                                {$comment->dislikes}
                              </a>
                            </li>
                            <li class="list-inline-item ml-auto">
                              <a class="u-link-v5 g-color-gray-dark-v4 g-color-primary--hover" href="#!">
                                <i class="fa fa-reply g-pos-rel g-top-1 g-mr-3"></i>
                                Reply
                              </a>
                            </li>
                          </ul> -->
                        </div>
                    </div>
                </div>


            </div>
            </div>
            {/foreach}

            {control cart:list}






