{varType App\Model\Entities\Product $product}
{block content}

<h1 n:block="title">{$product->title}</h1>

<p>
    {$product->description}
    <img src="../img/products/{$product->url}.{$product->photoExtension}">
</p>

<h2>Vložte nový příspěvek</h2>

{control commentForm}